/* レベル１クイズ */
/* mobile */

body {
  margin: 0;
  background: #ffffc6fc;
  font-size: 28px;
  font-family: Arial, sans-serif;
  user-select: none;
  width: 100vw;
  height: 100vw;
}

header {
  background:#87104d;
  margin: 0 auto;
  text-align: center;
  line-height: 56px;
  color: #f2f0eb;
  height: 56px;
}

.container {
  width: 90%;
  height: 760px;
  margin: 8px auto;
  background: #f2f0eb;
  border-radius: 4px;
  padding: 16px;
  position: relative;
}

#question {
  font-size: 32px;
  height: 100px;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 2;
}

#choices {
  height: 580px;
  list-style: none;
  padding: 0;
  margin: 0;
}

#choices > li {
  height: 120px;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 28px;
  margin-top: 40px;
  cursor: pointer;
  font-weight: bold;
  font-size: 32px;
  line-height: 2;
}

#choices > li:hover {
  background: #f8f8f8;
}

#choices > li.correct {
  background: #d4edda;
  border-color: #c3e6cb;
  color: #44433b;
  font-weight: bold;
}

#choices > li.correct::after {
  content: ' ...  正解  !';
  color: #ec2323;
}

#choices > li.wrong {
  background: #817f7f;
  border-color: #f5c6cb;
  color: #fff;
}

#choices > li.wrong::after {
  content: ' ...  不正解 ×';
  color: #f46565;
  font-weight: bold;
}

#btn, #result > a {
  background: #bc044ed7;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  line-height: 160px;
  box-shadow: 0 6px 0 #891123;
  height: 160px;
  font-size: 48px;
  margin-top: 48px;
}

#btn.disabled {
  background: #ccc;
  box-shadow: 0 6px 0 #bbb;
  opacity: 0.8;
}

#result {
  position: absolute;
  width: 300px;
  background: #fff;
  padding: 30px;
  box-shadow: 0 4px 8px #00000033;
  top: 48px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 4px;
  text-align: center;
  transition: 2s;
}

#result.hidden {
  transform: translateY(-500px);
}

#result > p {
  font-size: 24px;
}

#result > a {
  display: block;
  text-decoration: none;
}

footer  {
  width: 100vw;
  margin: 320px 0 auto;
  text-align: center;
  line-height: 180px;
  height: 20vw;
}

@media (min-width: 1060px) {
 body {
  font-size: 18px;
  /* height: 50vw; */
  }

  .container {
    width: 50%;
    height: 520px;
  }

  #question {
    font-size: 20px;
    height: 56px;
  }
  
  #choices {
    height: 260px;
  }

  #choices > li {
    height: 10%;
    font-size: 16px;
  }

  #btn {
    line-height: 56px;
    height: 56px;
    font-size: 32px;
  }
  /* #btn, #result > a {
    line-height: 56px;
    height: 56px;
    font-size: 32px;
  } */

  #result {
    position: absolute;
    width: 300px;
    background: #fff;
    padding: 30px;
    box-shadow: 0 4px 8px #00000033;
    top: 48px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 4px;
    text-align: center;
    transition: 2s;
  }
  

  #result.hidden {
    transform: translateY(-500px);
  }

  #result > p {
    font-size: 18px;
  }
  
  #result > a {
    display: block;
    text-decoration: none;
  }

  footer  {
    width: 100vw;
    margin: 60px 0 auto;
    text-align: center;
    line-height: 10px;
  }
  
}